@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
h1 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #333;
}
.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 40px auto;
  background-color: #2e2e3b;
  border-radius: 15px;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  border-left: 1px solid #fff;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 36px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
.accordion ul li:nth-child(1) {
  background-image: url('https://i.imgur.com/DEeE01M.png');
}
.accordion ul li:nth-child(2) {
  background-image: url('https://i.imgur.com/SpoJQ05.png');
}
.accordion ul li:nth-child(3) {
  background-image: url('https://i.imgur.com/k7lB8b4.png');
}
.accordion ul li:nth-child(4) {
  background-image: url('https://i.imgur.com/VddR2xK.png');
}
.accordion ul li:nth-child(5) {
  background-image: url('https://i.imgur.com/meqFNFU.png');
}
.accordion ul li:nth-child(6) {
  background-image: url('https://i.imgur.com/285RBbs.png');
}
.accordion ul li:nth-child(7) {
  background-image: url('https://i.imgur.com/kLfPKeR.png');
}
.accordion ul li:nth-child(8) {
  background-image: url('https://i.imgur.com/TrODGin.png');
}
.accordion ul li:nth-child(9) {
  background-image: url('https://i.imgur.com/l5G9Q1e.png');
}
.accordion ul:hover li, .accordion ul:focus-within li {
  width: 8%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li:hover, .accordion ul li:focus, .accordion ul:focus-within li:focus {
  width: 60%;
}
.accordion ul:hover li:hover a, .accordion ul li:focus a, .accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, .4);
}
.accordion ul:hover li:hover a *, .accordion ul li:focus a *, .accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.accordion ul:hover li {
  width: 40% !important;
}
.accordion ul:hover li a * {
  opacity: 0 !important;
}
.accordion ul:hover li:hover {
  width: 65% !important;
}
.accordion ul:hover li:hover a {
  background: rgba(46, 46, 59, .1);
}
.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul:hover li, .accordion ul li:hover, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}
.about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
}
.about a {
  color: blue;
  text-decoration: none;
}
.about a:hover {
  text-decoration: underline;
}