@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
 
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background:#1c0905 url("http://i.imgur.com/cIDtRVK.jpg") top center no-repeat;
    background-size: contain;
    padding: 0;
    margin:0;
    text-rendering: optimizeLegibility;
    color: #fff;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1400px;
    max-width: 100%;
  }
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
 
header {
    width: 1200px;
    margin: 100px auto;
}
   
 
#disclaimer {
    display: none;
}
 
a{
    text-decoration: none;
    color: #f8b700;
}

a:hover{
  color: #fff;
}
 
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 5px rgba(0,0,0,.8);
    width: 100%;
    max-width: 1500px;
}


.tier-max-width {
    max-width: 600px;
}
 
h1 {
    font-size: 100px;
    font-variant: uppercase;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,.8);
}
 
h2 {
 font-size: 51px;
 text-align: center;
 color:white;
 text-shadow: 0 0 5px rgba(0,0,0,.8);
 padding-top: 100px;
 border-top: #f8b700 1px solid;
}
 
 
h3 {
    font-size: 40px;
    text-align: center;
    font-weight:300;
    color:white;
    text-shadow: 0 0 5px rgba(0,0,0,.8);
}
 
p, h4 {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    font-weight:300;
}
 
#spreadsheet {
    height: 750px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

section {
    padding: 0 40px;
}

section:nth-child(2) h2 {
    border: none;
}
 
section:last-child {
    padding-bottom: 100px;
}
 
 
section iframe{
    text-align: center;
}
 
nav {
    height: 30px;
    display: block;
    width: 100%;
    margin: 200px 30px 0 30;
    /* box-sizing: border-box; */
    z-index: 9999;
    position: relative;
}

.hover-skull-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
 
nav::before{
    background: url(http://i.imgur.com/U4Tu45f.png) center  top no-repeat;
    display:block;
    height: 500px;
    width: 321px;
    background-size: contain;
    content: "";
    position: absolute;
    top: -183px;
    left: -200px;
    margin-left: 40px;
    z-index: -1;
    -webkit-animation-name: hover-skull, hover-skull-hang;
    animation-name: hover-skull, hover-skull-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

@keyframes hover-skull-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hover-skull {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hover-skull {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
 
nav li {
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
}
 
nav li span {
    font-size: 30px;
}
 
nav li a {
    color: #afafaf;
    font-variant: uppercase;
    font-size: 30px;
    font-weight: 300;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropdown-content {
    border: solid black 1px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100wv;
}
 
.dropdown .dropdown-content p:hover {
    background-color: #39211d;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.blizz_container{
    background-color: #202020;
    border-radius: 8px;
    color: #0091ff;
    margin: 10px 15px;
    padding: 0 30px 10px;
    -moz-border-radius: 8px;
}

.blizz_icon {
    background: url(http://static.mmo-champion.com/mmoc/Themes/mmo3/img/blizz_ico.gif) 0% 50% no-repeat;
    border-color: #2d2d2d;
    padding: 10px 30px 5px;
}
.expand{
    overflow: hidden;
    margin: 30px 0;
    padding: 30px;
    background: rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    height: 10px;
}

.ExpandBtn{
    margin-top: 20px;
    display: block;
}

.guide-html{
  background:#11151d url("http://i.imgur.com/XOOAQ4I.jpg") top center no-repeat;
  background-size: contain;
}
.guide-html img{
  width: auto;
}