/* General Blueprint Style */

@font-face {
    font-family: 'bpicons';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/bpicons/bpicons.eot');
    src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}

/* Resets */

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Helper classes */

.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}

/* Main styles */

body {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    color: #B5B3E6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #31313c;
    background-size: cover;
}

a, strong {
    text-decoration: none;
    color: #d5d5d5;
    outline: none;
}

a:hover {
    color: #9a79d0;
}

.container {
    overflow-y: auto;
}

/* Blueprint header */

.bp-header {
    display: -webkit-flex;
    display: flex;
}

.bp-header__main {
    margin: 0 0 0 auto;
    padding: 2em 3em 0;
    text-align: right;
}

.bp-header__title {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.3;
    margin: 0.25em 0 0;
}

.bp-header__present {
    font-size: 0.75em;
    font-weight: 700;
    position: relative;
    z-index: 100;
    display: block;
    margin: 0 -8px 0 0;
    padding: 0 0 0.6em 0;
    text-indent: 3px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #5c5edc;
}

.bp-tooltip:after {
    position: relative;
    top: -8px;
    left: -8px;
    display: inline-block;
    width: 0;
    height: 0;
}

.bp-tooltip:hover:before {
    content: attr(data-content);
    font-size: 110%;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    top: 1.5em;
    right: 0;
    width: 50vw;
    padding: 0.8em 1em;
    text-align: right;
    text-indent: 0;
    letter-spacing: 0;
    text-transform: none;
    color: #fff;
    background: #5c5edc;
}

.bp-nav {
    margin: 0.5em 0 0 auto;
    text-align: right;
}

.bp-nav__item {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.1em;
    text-align: left;
    border-radius: 50%;
}

.bp-nav__item > span {
    display: none;
}

.bp-nav__item:hover:before {
    content: attr(data-info);
    font-size: 0.85em;
    font-weight: bold;
    position: absolute;
    top: 120%;
    right: 0;
    width: 600%;
    text-align: right;
    pointer-events: none;
    color: #595a5f;
}

.bp-nav__item:hover {
    background: #5c5edc;
}

.bp-icon:after {
    font-family: 'bpicons';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    color: #5c5edc;
    -webkit-font-smoothing: antialiased;
    speak: none;
}

.bp-nav .bp-icon:after {
    line-height: 2.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
}

.bp-nav a:hover:after {
    color: #fff;
}

.bp-icon--next:after {
    content: '\e000';
}

.bp-icon--drop:after {
    content: '\e001';
}

.bp-icon--archive:after {
    content: '\e002';
}

.bp-icon--about:after {
    content: '\e003';
}

.bp-icon--prev:after {
    content: '\e004';
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 120px;
    padding: 1em 0 0 0;
    text-align: center;
    color: #3b3d4a;
    background: #191924;
    z-index: 9999;
}

.dummy-icon {
    font-size: 4em;
}

.dummy-heading {
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content {
    position: relative;
    min-height: 300px;
    margin: 0 auto;
    /*max-width: 1200px;*/
    overflow-x: hidden;
}

.Home .content {
    margin: inherit;
}

.content--loading {
    background: url(../img/logo-loading.png) no-repeat 50% 50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes rotateloading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotateloading {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotateloading {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotateloading {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }

.products {
    margin: 0;
    padding: 2em;
    text-align: center;
}

.product {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    background: #1c1d22;
}

.product .foodicon {
    font-size: 4em;
    line-height: 190px;
    color: #3b3d4a;
}

.info {
    font-size: 1.1em;
    font-weight: bold;
    padding: 20vh 1em 0;
    text-align: center;
    color: #47484c;
}

body #cdawrap {
    top: auto;
    bottom: 15px;
    background: rgba(0, 0, 0, 0.1);
}

body #cdawrap .carbon-text {
    color: #505158;
}

body #cdawrap a.carbon-poweredby {
    color: #7883c4;
}

body #cdawrap a:hover.carbon-poweredby {
    color: #fff;
}

@media screen and (max-width: 40em) {
    .bp-header {
        padding-top: 3em;
    }

    .bp-header__main,
    .bp-nav {
        width: 100%;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .content {
        margin: 0;
    }

    body,
    .container {
        height: auto;
        overflow: auto;
    }
}

/*
	Saolock custom css
*/

.guides {
    position: relative;
    margin: 0;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}

.guides img {
    width: 100%;
}

body:not(.Home) .guides {
    padding: 50px 20px 0 20px;
}

.loader {
    height: 200px;
    display: block;
    margin-left: 0px;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    z-index: 100;
    opacity: 1;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}

.hidden {
    opacity: 0;
    z-index: -1;
}

.bp-header {
    padding-top: 0;
}
.action--open {
    display: none;
}

@media screen and (min-width: 40em) {
    body:not(.Home) .guides {
        padding: 0 100px;
        /*margin: 40px;*/
    }

    .guides {
        margin: 0 0 0 310px;
    }

    .guides img.heading {
        width: auto;
    }
    .action--open {
        z-index: -1 !important;
    }
    .loader {
        margin-left: 310px;
        width: 76%;
    }
}

.dropdown .dropdown-content p:hover {
    background-color: #39211d;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

em {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

i {
    font-style: italic;
}

.blizz_container {
    background-color: #121218 !important;
    border-radius: 8px;
    color: #0091ff;
    padding: 10px 20px;
    -moz-border-radius: 8px;
    border: 1px solid #5c5edc;
}

.blizz_icon {
    background: url(http://static.mmo-champion.com/mmoc/Themes/mmo3/img/blizz_ico.gif) 0% 50% no-repeat;
    border-color: #2d2d2d;
    padding: 10px 30px 5px;
}

.spell_icon_span a{
    display: inline-block;
}
.spell_icon {
    width: 14px !important;
    height:14px;
}

.expand {
    overflow: hidden;
    margin: 30px 0;
    padding: 30px;
    background: rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    height: 10px;
}

.ExpandBtn {
    margin-top: 20px;
    display: block;
}

.guide-html {
    background: #11151d url("http://i.imgur.com/5SwEggy.png") top center no-repeat;
    background-size: contain;
}

.guide-html img {
    width: auto;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/*.youtube {*/
/*margin: 0 auto;*/
/*display: block;*/
/*}*/

.youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube-wrapper .youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}
